
<div *ngIf="userRole$ | async as roleUser">
  <div *ngIf="roleUser == 'ROLE_CANDIDAT'">
    <!--=================================
    inner banner -->
    <div class="header-inner bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="candidates-user-info">
              <div class="jobber-user-info">
                <div class="profile-avatar">
                  <img class="img-fluid " src="assets/img/user-av.jpg" alt="">
                  <i class="fas fa-pencil-alt"></i>
                </div>
                <div class="profile-avatar-info ml-4">
                  <h3>Candidat</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <span class="progress-bar-number">85%</span>
              </div>
            </div>
            <div class="candidates-skills">
              <div class="candidates-skills-info">
                <h3 class="text-primary">85%</h3>
                <span class="d-block">Skills increased by job Title.</span>
              </div>
              <div class="candidates-required-skills ml-auto mt-sm-0 mt-3">
                <a class="btn btn-dark" href="#">Complete Required Skills</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================================
    inner banner -->

    <!--=================================
    Dashboard Nav -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="sticky-top secondary-menu-sticky-top">
              <div class="secondary-menu">
                <ul class="list-unstyled mb-0">
                  <li><a routerLink="/dashboard">Dashboard</a></li>
                  <li><a class="active" routerLink="/profil">Profil</a></li>
                  <li><a href="#">Changer mon Mot de Passe</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Dashboard Nav -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-title-02">
              <h3>My Resume</h3>
            </div>
          </div>
          <div class="col-lg-4 text-lg-right">
            <a class="btn btn-primary btn-md mb-4 mb-lg-0" href="my-resume.html">Preview My Resume</a>
          </div>
          <div class="col-12">
            <div class="user-dashboard-info-box">
              <div class="form-group col-md-12 p-0">
                <label>Cover Letter</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
            <div class="user-dashboard-info-box">
              <div class="dashboard-resume-title d-flex align-items-center">
                <div class="section-title-02 mb-sm-0">
                  <h4 class="mb-0">Education</h4>
                </div>
                <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">Add Education</a>
              </div>
              <div class="collapse show" id="dateposted">
                <div class="bg-light p-3 mt-4">
                  <form class="form-row">
                    <div class="form-group col-md-12">
                      <label>Title</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-6 select-border">
                      <label>Year</label>
                      <select class="form-control basic-select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        <option value="value 01" selected="selected" data-select2-id="3">2020</option>
                        <option value="value 02">2008</option>
                        <option value="value 03">2009</option>
                        <option value="value 04">2010</option>
                        <option value="value 05">2011</option>
                        <option value="value 06">2012</option>
                        <option value="value 07">2013</option>
                        <option value="value 08">2014</option>
                        <option value="value 09">2015</option>
                        <option value="value 10">2016</option>
                        <option value="value 11">2017</option>
                        <option value="value 12">2018</option>
                        <option value="value 13">2019</option>
                        <option value="value 14">2020</option>
                        <option value="value 15">2021</option>
                        <option value="value 16">2022</option>
                        <option value="value 17">2023</option>
                        <option value="value 18">2024</option>
                        <option value="value 19">2025</option>
                        <option value="value 20">2026</option>
                        <option value="value 21">2027</option>
                        <option value="value 22">2028</option>
                        <option value="value 23">2029</option>
                        <option value="value 14">2030</option>
                      </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 512px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-o4k1-container"><span class="select2-selection__rendered" id="select2-o4k1-container" role="textbox" aria-readonly="true" title="2020">2020</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Institute</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-12">
                      <label>Description</label>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group col-md-12 mb-0">
                      <a class="btn btn-md btn-primary" href="#">Add</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="jobber-candidate-timeline mt-4">
                <div class="jobber-timeline-icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="jobber-timeline-item">
                  <div class="jobber-timeline-cricle">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="jobber-timeline-info">
                    <div class="dashboard-timeline-info">
                      <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                          <li><a class="text-right" data-toggle="collapse" href="#dateposted-02" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                          <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                      </div>
                      <span class="jobber-timeline-time">2018 - Pres</span>
                      <h6 class="mb-2">Masters in Software Engineering</h6>
                      <span>- Engineering University</span>
                      <p class="mt-2">This is the beginning of creating the life that you want to live. Know what the future holds for you as a result of the choice you can make today.</p>
                    </div>
                    <div class="collapse show" id="dateposted-02">
                      <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-01">
                          <div class="form-group col-md-12">
                            <label>Title</label>
                            <input type="text" class="form-control" value="Masters in Software Engineering">
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>Year</label>
                            <select class="form-control basic-select select2-hidden-accessible" data-select2-id="4" tabindex="-1" aria-hidden="true">
                              <option value="value 01" selected="selected" data-select2-id="6">2020</option>
                              <option value="value 02">2008</option>
                              <option value="value 03">2009</option>
                              <option value="value 04">2010</option>
                              <option value="value 05">2011</option>
                              <option value="value 06">2012</option>
                              <option value="value 07">2013</option>
                              <option value="value 08">2014</option>
                              <option value="value 09">2015</option>
                              <option value="value 10">2016</option>
                              <option value="value 11">2017</option>
                              <option value="value 12">2018</option>
                              <option value="value 13">2019</option>
                              <option value="value 14">2020</option>
                              <option value="value 15">2021</option>
                              <option value="value 16">2022</option>
                              <option value="value 17">2023</option>
                              <option value="value 18">2024</option>
                              <option value="value 19">2025</option>
                              <option value="value 20">2026</option>
                              <option value="value 21">2027</option>
                              <option value="value 22">2028</option>
                              <option value="value 23">2029</option>
                              <option value="value 14">2030</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 477px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-guus-container"><span class="select2-selection__rendered" id="select2-guus-container" role="textbox" aria-readonly="true" title="2020">2020</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                          </div>
                          <div class="form-group col-md-6">
                            <label>Institute</label>
                            <input type="text" class="form-control" value="Engineering University">
                          </div>
                          <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" placeholder="This is the beginning of creating the life that you want to live. Know what the future holds for you as a result of the choice you can make today."></textarea>
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            <a class="btn btn-md btn-primary" href="#">Update</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobber-timeline-item mb-0">
                  <div class="jobber-timeline-cricle">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="jobber-timeline-info">
                    <div class="dashboard-timeline-info">
                      <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                          <li><a class="text-right" data-toggle="collapse" href="#dateposted-03" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                          <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                      </div>
                      <span class="jobber-timeline-time">2014 - 2018</span>
                      <h6 class="mb-2">Diploma in Graphics Design</h6>
                      <span>- Graphic Arts Institute</span>
                      <p class="mt-2">Have some fun and hypnotize yourself to be your very own “Ghost of Christmas future” and see what the future holds for you.</p>
                    </div>
                    <div class="collapse" id="dateposted-03">
                      <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-04">
                          <div class="form-group col-md-12">
                            <label>Title</label>
                            <input type="text" class="form-control" value="Diploma in Graphics Design">
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>Year</label>
                            <select class="form-control basic-select select2-hidden-accessible" data-select2-id="7" tabindex="-1" aria-hidden="true">
                              <option value="value 01" selected="selected" data-select2-id="9">2020</option>
                              <option value="value 02">2008</option>
                              <option value="value 03">2009</option>
                              <option value="value 04">2010</option>
                              <option value="value 05">2011</option>
                              <option value="value 06">2012</option>
                              <option value="value 07">2013</option>
                              <option value="value 08">2014</option>
                              <option value="value 09">2015</option>
                              <option value="value 10">2016</option>
                              <option value="value 11">2017</option>
                              <option value="value 12">2018</option>
                              <option value="value 13">2019</option>
                              <option value="value 14">2020</option>
                              <option value="value 15">2021</option>
                              <option value="value 16">2022</option>
                              <option value="value 17">2023</option>
                              <option value="value 18">2024</option>
                              <option value="value 19">2025</option>
                              <option value="value 20">2026</option>
                              <option value="value 21">2027</option>
                              <option value="value 22">2028</option>
                              <option value="value 23">2029</option>
                              <option value="value 14">2030</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="8" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-8u9m-container"><span class="select2-selection__rendered" id="select2-8u9m-container" role="textbox" aria-readonly="true" title="2020">2020</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                          </div>
                          <div class="form-group col-md-6">
                            <label>Institute</label>
                            <input type="text" class="form-control" value="Graphic Arts Institute">
                          </div>
                          <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" placeholder="Have some fun and hypnotize yourself to be your very own “Ghost of Christmas future” and see what the future holds for you."></textarea>
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            <a class="btn btn-md btn-primary" href="#">Update</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--=================================
            Work & Experience -->
            <div class="user-dashboard-info-box">
              <div class="dashboard-resume-title d-flex align-items-center">
                <div class="section-title-02 mb-sm-0">
                  <h4 class="mb-0">Work &amp; Experience</h4>
                </div>
                <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted-05" role="button" aria-expanded="false" aria-controls="dateposted">Add Experience</a>
              </div>
              <div class="collapse show" id="dateposted-05">
                <div class="bg-light p-3 mt-4">
                  <form class="form-row">
                    <div class="form-group col-md-12">
                      <label>Title</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-12">
                      <label>Company name</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-6 select-border">
                      <label>From</label>
                      <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-01">
                        <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 select-border">
                      <label>Two</label>
                      <div class="input-group date" id="datetimepicker-02" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-02">
                        <div class="input-group-append" data-target="#datetimepicker-02" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Description</label>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group col-md-12 mb-0">
                      <a class="btn btn-md btn-primary" href="#">Add</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="jobber-candidate-timeline mt-4">
                <div class="jobber-timeline-icon">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="jobber-timeline-item">
                  <div class="jobber-timeline-cricle">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="jobber-timeline-info">
                    <div class="dashboard-timeline-info">
                      <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                          <li><a class="text-right" data-toggle="collapse" href="#dateposted-06" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                          <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                      </div>
                      <span class="jobber-timeline-time">2020-6-01 to 2020-6-01</span>
                      <h6 class="mb-2">Web Designer</h6>
                      <span>- Inwave Studio</span>
                      <p class="mt-2">One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help them to accomplish their desires.</p>
                    </div>
                    <div class="collapse show" id="dateposted-06">
                      <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-form-01">
                          <div class="form-group col-md-12">
                            <label>Title</label>
                            <input type="text" class="form-control" value="Web Designer">
                          </div>
                          <div class="form-group col-md-12">
                            <label>Company name</label>
                            <input type="text" class="form-control" value="Inwave Studio">
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>From</label>
                            <div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-03">
                              <div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>Two</label>
                            <div class="input-group date" id="datetimepicker-04" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-04">
                              <div class="input-group-append" data-target="#datetimepicker-04" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" placeholder="One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help them to accomplish their desires."></textarea>
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            <a class="btn btn-md btn-primary" href="#">Update</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobber-timeline-item mb-0">
                  <div class="jobber-timeline-cricle">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="jobber-timeline-info">
                    <div class="dashboard-timeline-info">
                      <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                          <li><a class="text-right" data-toggle="collapse" href="#dateposted-07" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                          <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                      </div>
                      <span class="jobber-timeline-time">2020-6-01 to 2020-6-01</span>
                      <h6 class="mb-2">Secondary School Certificate</h6>
                      <span>- Engineering High School</span>
                      <p class="mt-2">Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!</p>
                    </div>
                    <div class="collapse" id="dateposted-07">
                      <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-form-02">
                          <div class="form-group col-md-12">
                            <label>Title</label>
                            <input type="text" class="form-control" value="Secondary School Certificate">
                          </div>
                          <div class="form-group col-md-12">
                            <label>Company name</label>
                            <input type="text" class="form-control" value="Engineering High School">
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>From</label>
                            <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                              <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6 select-border">
                            <label>Two</label>
                            <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                              <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="4" placeholder="Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!"></textarea>
                          </div>
                          <div class="form-group col-md-12 mb-0">
                            <a class="btn btn-md btn-primary" href="#">Update</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--=================================
            Work & Experience -->
            <!--=================================
            Professional Skill -->
            <div class="user-dashboard-info-box">
              <div class="dashboard-resume-title d-flex align-items-center">
                <div class="section-title-02 mb-sm-0">
                  <h4 class="mb-0">Professional Skill</h4>
                </div>
                <a class="btn btn-md ml-sm-auto btn-primary" href="#">Add Skill</a>
              </div>
              <div class="collapse show" id="dateposted-11">
                <div class="bg-light p-3 mt-4">
                  <form class="form-row align-items-center">
                    <div class="form-group col-md-6">
                      <label>Title</label>
                      <input type="text" class="form-control" value="Photoshop">
                    </div>
                    <div class="form-group col-md-5">
                      <label>Percentage</label>
                      <input type="text" class="form-control" value="70%">
                    </div>
                    <div class="form-group col-md-1 text-center">
                      <a class="mt-3 d-block" href="#"><i class="far fa-trash-alt text-danger"></i></a>
                    </div>
                  </form>
                  <form class="form-row align-items-center">
                    <div class="form-group col-md-6">
                      <label>Title</label>
                      <input type="text" class="form-control" value="HTML/CSS">
                    </div>
                    <div class="form-group col-md-5">
                      <label>Percentage</label>
                      <input type="text" class="form-control" value="55%">
                    </div>
                    <div class="form-group col-md-1 text-center">
                      <a class="mt-3 d-block" href="#"><i class="far fa-trash-alt text-danger"></i></a>
                    </div>
                  </form>
                  <form class="form-row align-items-center">
                    <div class="form-group col-md-6">
                      <label>Title</label>
                      <input type="text" class="form-control" value="JavaScript80">
                    </div>
                    <div class="form-group col-md-5">
                      <label>Percentage</label>
                      <input type="text" class="form-control" value="80%">
                    </div>
                    <div class="form-group col-md-1 text-center">
                      <a class="mt-3 d-block" href="#"><i class="far fa-trash-alt text-danger"></i></a>
                    </div>
                  </form>
                  <form class="form-row align-items-center">
                    <div class="form-group col-md-6">
                      <label>Title</label>
                      <input type="text" class="form-control" value="PHP">
                    </div>
                    <div class="form-group col-md-5">
                      <label>Percentage</label>
                      <input type="text" class="form-control" value="60%">
                    </div>
                    <div class="form-group col-md-1 text-center">
                      <a class="mt-3 d-block" href="#"><i class="far fa-trash-alt text-danger"></i></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--=================================
            Professional Skill -->
            <!--=================================
            Awards -->
            <div class="user-dashboard-info-box">
              <div class="dashboard-resume-title d-flex align-items-center">
                <div class="section-title-02 mb-sm-0">
                  <h4 class="mb-0">Awards</h4>
                </div>
                <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted-15" role="button" aria-expanded="false" aria-controls="dateposted">Add Awards</a>
              </div>
              <div class="collapse show" id="dateposted-15">
                <div class="bg-light p-3 mt-4">
                  <form class="form-row">
                    <div class="form-group col-md-12">
                      <label>Title</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-12">
                      <label>Institute</label>
                      <input type="text" class="form-control" value="">
                    </div>
                    <div class="form-group col-md-6 select-border">
                      <label>From</label>
                      <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                        <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6 select-border">
                      <label>Two</label>
                      <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                        <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Description</label>
                      <textarea class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group col-md-12 mb-0">
                      <a class="btn btn-md btn-primary" href="#">Add</a>
                    </div>
                  </form>
                </div>
                <div class="jobber-candidate-timeline mt-4">
                  <div class="jobber-timeline-icon">
                    <i class="fas fa-trophy"></i>
                  </div>
                  <div class="jobber-timeline-item">
                    <div class="jobber-timeline-cricle">
                      <i class="far fa-circle"></i>
                    </div>
                    <div class="jobber-timeline-info">
                      <div class="dashboard-timeline-info">
                        <div class="dashboard-timeline-edit">
                          <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" href="#dateposted-16" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                          </ul>
                        </div>
                        <span class="jobber-timeline-time">2008 - 2012</span>
                        <h6 class="mb-2">Perfect Attendance Programs</h6>
                        <span>- Engineering High School</span>
                        <p class="mt-2">Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?</p>
                      </div>
                      <div class="collapse show" id="dateposted-16">
                        <div class="bg-light p-3">
                          <form class="form-row collapse show" id="dateposted-form-07">
                            <div class="form-group col-md-12">
                              <label>Title</label>
                              <input type="text" class="form-control" value="Perfect Attendance Programs">
                            </div>
                            <div class="form-group col-md-12">
                              <label>Institute</label>
                              <input type="text" class="form-control" value="Engineering High School">
                            </div>
                            <div class="form-group col-md-6 select-border">
                              <label>From</label>
                              <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                                <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-md-6 select-border">
                              <label>Two</label>
                              <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                                <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-md-12">
                              <label>Description</label>
                              <textarea class="form-control" rows="4" placeholder="Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?"></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                              <a class="btn btn-md btn-primary" href="#">Update</a>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jobber-timeline-item mb-0">
                    <div class="jobber-timeline-cricle">
                      <i class="far fa-circle"></i>
                    </div>
                    <div class="jobber-timeline-info">
                      <div class="dashboard-timeline-info">
                        <div class="dashboard-timeline-edit">
                          <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" href="#dateposted-17" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                          </ul>
                        </div>
                        <span class="jobber-timeline-time">2012 - 2014</span>
                        <h6 class="mb-2">Secondary School Certificate</h6>
                        <span>- Engineering High School</span>
                        <p class="mt-2">So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then, go for it!</p>
                      </div>
                      <div class="collapse" id="dateposted-17">
                        <div class="bg-light p-3">
                          <form class="form-row collapse show" id="dateposted-form-08">
                            <div class="form-group col-md-12">
                              <label>Title</label>
                              <input type="text" class="form-control" value="Secondary School Certificate">
                            </div>
                            <div class="form-group col-md-12">
                              <label>Institute</label>
                              <input type="text" class="form-control" value="Engineering High School">
                            </div>
                            <div class="form-group col-md-6 select-border">
                              <label>From</label>
                              <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                                <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-md-6 select-border">
                              <label>Two</label>
                              <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                                <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-md-12">
                              <label>Description</label>
                              <textarea class="form-control" rows="4" placeholder="So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then, go for it!"></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                              <a class="btn btn-md btn-primary" href="#">Update</a>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--=================================
            Awards -->
            <a class="btn btn-md btn-primary" href="#">Save Settings</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="roleUser == 'ROLE_CORRECTEUR'">
    <!--=================================
        inner banner -->
    <div class="header-inner bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="jobber-user-info">
              <div class="profile-avatar">
                <img class="img-fluid " src="assets/img/logo-medianet.png" alt="">
                <i class="fas fa-pencil-alt"></i>
              </div>
              <div class="profile-avatar-info ml-4">
                <h3>Medianet</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================================
    inner banner -->

    <!--=================================
    Dashboard Nav -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="sticky-top secondary-menu-sticky-top">
              <div class="secondary-menu">
                <ul>
                  <li><a routerLink="/dashboard">Dashboard</a></li>
                  <li><a class="active"  routerLink="/profil">Profil</a></li>
                  <li><a href="#">Changer mon Mot de Passe</a></li>
                  <li><a href="#">Gérer les Candidats</a></li>
                  <li><a href="#">Gérer les offres</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Dashboard Nav -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="user-dashboard-info-box">
              <div class="section-title-02 mb-4">
                <h4>Basic Information</h4>
              </div>
              <div class="cover-photo-contact">
                <div class="cover-photo">
                  <img class="img-fluid " src="images/bg/cover-bg.png" alt="">
                  <i class="fas fa-times-circle"></i>
                </div>
                <div class="upload-file">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label">Upload Cover Photo</label>
                  </div>
                </div>
              </div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Company Name</label>
                    <input type="text" class="form-control" value="Medianet">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" value="info@medianet.com.tn">
                  </div>
                  <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" value="">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" value="">
                  </div>
                  <div class="form-group col-md-6 datetimepickers">
                    <label>Date of Founded</label>
                    <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" value="02/03/2012" data-target="#datetimepicker-01">
                      <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Phone</label>
                    <input type="text" class="form-control" value="+(216) 71 827-484">
                  </div>
                  <div class="form-group col-md-12">
                    <label>Website</label>
                    <input type="text" class="form-control" value="www.medianet.com.tn">
                  </div>
                  <div class="form-group col-md-12 mb-0">
                    <label>Description</label>
                    <textarea class="form-control" rows="5" placeholder="Use a past defeat as a motivator. Remind yourself you have nowhere to go except up as you have already been at the bottom"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="user-dashboard-info-box">
              <div class="section-title-02 mb-3">
                <h4>Address</h4>
              </div>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Enter Your  location</label>
                    <input type="text" class="form-control" value="Av. Hédi Nouira, Immeuble MAYA D1 ENNASR II 2037, Tunis - Tunisie" placeholder="Enter Your  location">
                  </div>
                </div>
                <div class="location-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12769.760726511739!2d10.1569006!3d36.8558813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41e585853b506a78!2sMedianet!5e0!3m2!1sfr!2stn!4v1595372328543!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                </div>
              </form>
            </div>
            <a class="btn btn-md btn-primary" href="#">Save Settings</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="roleUser == 'ROLE_ADMIN'">

    <div style="clear:both"></div>

    <section class="sp_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="card">
                  <div class="owl-item" style="width: 320px;">
                    <div class="item">
                      <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                          <img alt="img" src="assets/img/boy_default.PNG">
                          <div  class="team-item-detail">
                            <div  class="team-item-detail-inner light-color">
                              <div class="item-mask-detail-ele">
                                <a class="btn btn-line-xs btn-white-line">
                                  <i class="fa fa-shopping-cart"></i>Ajouter une image
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bio_details" style="border: none;">
                    <div class="team-item-info" style="margin-right:10%">
                      <h5>{{userLastname | titlecase }} {{userFirstname | titlecase }}</h5>
                      <p class="">Administrateur</p>
                    </div>
                    <p>
											<span class="ic_width">
												<i class="fa fa-user"></i>
											</span> {{userLastname | titlecase }} {{userFirstname | titlecase }}
                    </p>
                    <p>
											<span class="ic_width">
												<i class="fa fa-envelope"></i>
											</span> {{ userEmail }}
                    </p>
                    <p>
											<span class="ic_width">
												<i class="fa fa-phone"></i>
											</span> {{ userPhonenumber }}
                    </p>
                    <p>
											<span class="ic_width">
												<i class="fa fa-map-marker"></i>
											</span> {{ userCityaddress }}, {{userZipcodeaddress }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="col-md-8 col-sm-8">
            <div  class="row">
              <div  class="table-responsive" style="display:inline-block; padding:20px;">
                <div  class="checkout-order-review">
                  <h3  class="mb-15" style="text-align:center;">Profil</h3>
                  <table  class="table">
                    <tbody >
                    <tr >
                      <td >Situation Actuelle: </td>
                      <td > Non renseigné </td>
                    </tr>
                    <tr >
                      <td >Expérience: </td>
                      <td > Non renseigné </td>
                    </tr>
                    <tr >
                      <td >Type de mission: </td>
                      <td > Non renseigné </td>
                    </tr>
                    <tr >
                      <td >Salaire Souhaité: </td>
                      <td > Non renseigné </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div  class="table-responsive" style="display:inline-block;padding:20px;">
                <div  class="checkout-order-review">
                  <h3  class="mb-15" style="text-align:center;">Mobilité</h3>
                  <table  class="table">
                    <tbody >
                    <tr >
                      <td >Localisation: </td>
                      <td > Non renseigné </td>
                    </tr>
                    <tr >
                      <td >Mobilité: </td>
                      <td > Non renseigné </td>
                    </tr>
                    <tr >
                      <td >Permis De Conduire: </td>
                      <td > Non renseigné </td></tr><tr >
                      <td >Véhiculé: </td><td > Non renseigné </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div  class="container" style="padding:30px;">
              <div  style="margin-left:4%;display:inline-block;">
                <a  class="btn btn-md btn-black-line" href="" style="width: 165.55px;height:54px"> Modifier <br > prétentions </a>
              </div>
              <div  style="margin-left:12%;display:inline-block;">
                <a  class="btn btn-md btn-black-line" href="" style="width: 165.55px;height:54px"> Modifier <br > situation </a>
              </div>
            </div>
          </div>
        </div>
        <div class="browse-job d-flex">
          <div class="justify-content-start">
            <ul class="nav nav-tabs nav-tabs-02" role="tablist">
              <li class="nav-item">
                <a class="nav-link active ml-0" id="tab-03" data-toggle="tab" href="#tab-06" role="tab" aria-controls="tab-06" aria-selected="true">Résumé</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-04" data-toggle="tab" href="#tab-07" role="tab" aria-controls="tab-07" aria-selected="false">Expériences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-05" data-toggle="tab" href="#tab-08" role="tab" aria-controls="tab-08" aria-selected="false">Formations</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="tab-06" role="tabpanel" aria-labelledby="tab-03">
            <p class="mt-4">We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful folks as Michael Jordan and Bill Gates. We can look a bit further back in time to Albert successful? Motivation.</p>
          </div>
          <div class="tab-pane fade" id="tab-07" role="tabpanel" aria-labelledby="tab-04">
            <p class="mt-4">Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones. Although each is successful separately, the right combination of both is the most powerful motivational force known to humankind.</p>
          </div>
          <div class="tab-pane fade" id="tab-08" role="tabpanel" aria-labelledby="tab-05">
            <p class="mt-4">There are many people in the world with amazing talents who realize only a small percentage of their potential. We all know people who live this truth.</p>
          </div>
        </div>
      </div>
    </section>

    <div style="clear:both"></div>
  </div>
</div>
