<br/>
<br/>
<div class="wrapper">


  <div style="clear:both"></div>

  <section class="sp_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="card">
                <div class="owl-item" style="width: 320px;">
                  <div class="item">
                    <div class="team-item nf-col-padding">
                      <div class="team-item-img">
                        <img alt="img" src="assets/img/boy_default.PNG">
                        <div  class="team-item-detail">
                          <div  class="team-item-detail-inner light-color">
                            <div class="item-mask-detail-ele">
                              <a class="btn btn-line-xs btn-white-line">
                                <i class="fa fa-shopping-cart"></i>Ajouter une image
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bio_details" style="border: none;">
                  <div class="team-item-info" style="margin-right:10%">
                    <h5>{{userLastname | titlecase }} {{userFirstname | titlecase }}</h5>
                    <p class="">Administrateur</p>
                  </div>
                  <p>
											<span class="ic_width">
												<i class="fa fa-user"></i>
											</span> {{userLastname | titlecase }} {{userFirstname | titlecase }}
                  </p>
                  <p>
											<span class="ic_width">
												<i class="fa fa-envelope"></i>
											</span> {{ userEmail }}
                  </p>
                  <p>
											<span class="ic_width">
												<i class="fa fa-phone"></i>
											</span> {{ userPhonenumber }}
                  </p>
                  <p>
											<span class="ic_width">
												<i class="fa fa-map-marker"></i>
											</span> {{ userCityaddress }}, {{userZipcodeaddress }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="col-md-8 col-sm-8">
          <div  class="row">
            <div  class="table-responsive" style="display:inline-block; padding:20px;margin-top:8%;">
              <div  class="checkout-order-review">
                <h3  class="mb-15" style="text-align:center;">Profil</h3>
                <table  class="table">
                  <tbody >
                  <tr >
                    <td >Situation Actuelle: </td>
                    <td > Non renseigné </td>
                  </tr>
                  <tr >
                    <td >Expérience: </td>
                    <td > Non renseigné </td>
                  </tr>
                  <tr >
                    <td >Type de mission: </td>
                    <td > Non renseigné </td>
                  </tr>
                  <tr >
                    <td >Salaire Souhaité: </td>
                    <td > Non renseigné </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div  class="table-responsive" style="display:inline-block;padding:20px;">
              <div  class="checkout-order-review">
                <h3  class="mb-15" style="text-align:center;">Mobilité</h3>
                <table  class="table">
                  <tbody >
                  <tr >
                    <td >Localisation: </td>
                    <td > Non renseigné </td>
                  </tr>
                  <tr >
                    <td >Mobilité: </td>
                    <td > Non renseigné </td>
                  </tr>
                  <tr >
                    <td >Permis De Conduire: </td>
                    <td > Non renseigné </td></tr><tr >
                    <td >Véhiculé: </td><td > Non renseigné </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div  class="container" style="padding:30px;">
            <div  style="margin-left:4%;display:inline-block;">
              <a  class="btn btn-md btn-black-line" href="" style="width: 165.55px;height:54px"> Modifier <br > prétentions </a>
            </div>
            <div  style="margin-left:12%;display:inline-block;">
              <a  class="btn btn-md btn-black-line" href="" style="width: 165.55px;height:54px"> Modifier <br > situation </a>
            </div>
          </div>
        </div>
      </div>
      <div class="product-tabs-wrapper container">
        <ul class="product-content-tabs nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="active" data-toggle="tab" href="#resume" role="tab">Résumé</a>
          </li>
          <li class="nav-item">
            <a class="" data-toggle="tab" href="#experiences" role="tab">Expériences</a>
          </li>
          <li class="nav-item">
            <a class="active" data-toggle="tab" href="#formations" role="tab">Formations</a>
          </li>
          <li class="nav-item">
            <a class="active" data-toggle="tab" href="#competences" role="tab">Compétences</a>
          </li>
        </ul><br ><br >
        <div class="product-content-Tabs_wraper tab-content container">
          <div class="tab-pane fade in active" id="resume" role="tabpanel">
            <div class="container">
              <div class="col-md-6" style="display:inline-block;float:left;">
                <p> Etiam molestie sit amet arcu vel dictum. Integer mattis est nec porta porttitor. Maecenas condimentum sapien eget urna condimentum, non sagittis ante dapibus. Donec congue libero ut ex malesuada auctor. Vivamus at urna et erat aliquam pharetra. Nulla facilisi. Morbi feugiat tortor finibus elit aliquet tempor.
                  Generated 5 paragraphs, 453 words, 3065 bytes of Lorem Ipsum
                </p>
              </div>
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
            </div>
            <div class="container">
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6" style="display:inline-block;float:right;">
                <div class="col-md-6" style="display:inline-block;float:left;">
                  <h4 class="mb-15">Vivamus at urna</h4>
                  <ul class="list-default">
                    <li >Etiam molestie sit amet arcu vel dictum</li>
                    <li >Integer mattis est nec porta porttitor</li>
                    <li >Maecenas condimentum sapien eget urna condimentum</li>
                    <li >Donec congue libero ut ex malesuada auctor</li>
                    <li >Generated 5 paragraphs, 453 words</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
            </div>
            <div class="container">
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
              <div class="col-md-6" style="display:inline-block;float:left;">
                <h4 class="mb-15">Vivamus at urna</h4>
                <ul class="list-default">
                  <li >Etiam molestie sit amet arcu vel dictum</li>
                  <li >Integer mattis est nec porta porttitor</li>
                  <li >Maecenas condimentum sapien eget urna condimentum</li>
                  <li >Donec congue libero ut ex malesuada auctor</li>
                  <li >Generated 5 paragraphs, 453 words</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="experiences" role="tabpanel">
            <div class="col-md-6 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="mb-0"> Expériences </h4>
                </div>
                <div class="panel-body">
                  <p > Vous n'avez renseigné aucune experience </p>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <a class="btn btn-md btn-black-line" href=""> Ajouter </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="formations" role="tabpanel">
            <div class="col-md-6 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="mb-0"> Formations </h4>
                </div>
                <div class="panel-body">
                  <p> Vous n'avez renseigné aucune formation </p>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <a class="btn btn-md btn-black-line" href=""> Ajouter </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="competences" role="tabpanel">
            <div class="col-md-6 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="mb-0"> Compétences </h4>
                </div>
                <div class="panel-body">
                  <p > Vous n'avez renseigné aucune compétence </p>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <a class="btn btn-md btn-black-line" href=""> Ajouter </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div style="clear:both"></div>


</div>

