
      <div class="navbar-collapse collapse justify-content-start" *ngIf="isLoggedIn$ | async as isLoggedIn">
        <ul class="nav navbar-nav" *ngIf="userRole$ | async as roleUser">
          <li class="nav-item "><a class="nav-link" routerLink="/home">{{msgHomeLabel}}</a></li>
          <!-- Add if ROLE_ADMIN condition -->
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_ADMIN'" routerLink="/candidats">{{msgHomeMenuCandidats}}</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="/resultats">{{msgHomeMenuResult}}</a></li>
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_ADMIN'" routerLink="/questionnaires">{{msgHomeMenuTests}}</a></li>
          <!-- Add if ROLE_CANDIDAT condition -->
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_CANDIDAT'" routerLink="/questionnaires">{{msgHomeMenuTests}}</a></li>
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_CANDIDAT'" routerLink="/quizz">Quiz</a></li>
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_ADMIN'" routerLink="/quizz">Quiz</a></li>
          <!-- Add if ROLE_CORRECTEUR condition -->
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_CORRECTEUR'" routerLink="/corrections">Correction</a></li>

          <li class="nav-item "><a class="nav-link" routerLink="/profil">Profil</a></li>
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_CANDIDAT'" routerLink="/dashboard">Dashboard</a></li>
          <li class="nav-item "><a class="nav-link" *ngIf="roleUser == 'ROLE_CORRECTEUR'" routerLink="/dashboard">Dashboard</a></li>

          <li class="nav-item "><a class="nav-link" routerLink="/offer">Offer</a></li>
        </ul>
      </div>
